
body{
	
	font-family: 'Oswald', sans-serif;
	background: #233d58;

}

footer{
	font-family: 'Oswald', sans-serif;
}
header{
	/*background: #233d58;*/
	position: 100%;
	top: 0px;
	text-align: right;
	margin-right: 5px;
	margin-top: 10px;

}
li{
	display: none;
}

h1{
	margin-top: 100px;
}
#cabecera{
	background-image: url("../img/teclado.jpg");
	position: relative;
	width: 100%;
	height: 300px;
	margin-left: 5px;
}

section {
	/*border: 1px solid black;*/
	background: white;
	width: 100%;

}
h4{
	font-size: 15px;
	margin-top: 20px;
	background: white

}

#linkmenu{
	cursor: pointer;
	font-size: 15px;
	color: white;
	margin-top: 1%;

}

#titulo{
	font-size: 50px;
	color: white;
}

#titulo_resaltado{
	color: #f1d600;
	text-align: left;
}

.subtitulo{
	color: #f1d600;
	font-size: 25px;
}

#subtitulo_detalle{
	color: white;
}

#menu{

	display: inline;
}

.titulosection{
	margin-top: 5% ;
	text-align: center;
	color: #f1d600;
	font-weight: bold;
	font-size: 30px;
}

.proyecto {
	display: inline-block;
	width: 300px;
	height: 300px;
	margin: 2%;
	text-align: center;
	margin-left: 5px;
	margin-right: 0%;
	padding: 0px;
	background-color: #E5E5F4;

}
.proyectointerior{
	margin-top:5%;
	width: 300px;
	height: 150px;


}
.servicios{
	border: 1px solid black;
	display: inline-block;
	margin-bottom: 5px;


}


.servicios{
	margin: 1px solid black;
}

.cara{
	border-radius: 50%;
	padding: 0px;
	border: 2px solid #E5E5F4;
	height: 200px;
	margin-bottom: 5px;
	margin-left: 5%;
	
}

.texto{
	color: black;
	text-align: justify;
	font-size: 15px;
	margin-left: 5px;
	margin-right: 5px;
}
.cuerpo{
	margin: 0px; 
	width: 98%; 
	height: 200px;
}
.boton{
	background-color: white;
	/*border: 2px solid black;*/
	color: #233d58;
	border-radius: 15%;
	font-size: 20px;
	


}

/*----POR DEFECTO, EL RESPONSIVE DESIGN ES MOBILE FIRST----*/


/*medidas para tablet*/
@media screen and (min-width: 480px){
	body{
		background : rgb(20%, 30%, 50%);
	}
	li{
		display: inline-block;
	}
	#linkmenu{
		display: none;

	}
	
	.cara{
		border-radius: 5%;
		padding: 0px;
		border: 2px solid #E5E5F4;
		height: 200px;
		margin-bottom: 5px;
		margin-left: 5px;
		
	}
	.cuerpo{
		margin: 0px; 
		width: 500px; 
		height: 200px;
	}

}

/*medidas para pc de sobremesa*/
@media screen and (min-width: 1000px){
	body{
		background : orange;
	}
	li{
		display: inline-block;
	}
	#linkmenu{
		display: none;
	}



	.cara{
		border-radius: 5%;
		padding: 0px;
		border: 2px solid #E5E5F4;
		height: 200px;
		margin-bottom: 5px;
		margin-left: 5px;
		
	}

}

