
body{
	
	font-family: 'Roboto Condensed', sans-serif; 
	background: #D5EAFF;
	position: relative;
}

header{
	background: #233d58;
	

}
#linkmenu{
	cursor: pointer;

	margin: 5px;
	position: absolute;
	top: 0px;
	right: 5px;
	font-size: 10px;
	margin-bottom: 10px;
	margin-top: 15px;

}

#titulo{
	font-size: 20px;
	color: white;
}

#titulo_resaltado{
	color: #f1d600;
}

#subtitulo{
	color: #f1d600;
	font-size: 12px;
}

#subtitulo_detalle{
	color: white;
}

#menu{
	display: none;
}













/*----POR DEFECTO, EL RESPONSIVE DESIGN ES MOBILE FIRST----*/


/*medidas para tablet*/
@media screen and (min-width: 480px){
	body{
		background : green;
	}
}

/*medidas para pc de sobremesa*/
@media screen and (min-width: 1000px){
	body{
		background : orange;
	}
}

